<div class="modal fade" id="shopModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom:none;">
                <ul class="nav nav-tabs" ng-show="$root.modalSwap.kartEnabled">
                  <li ng-show="Object.keys(modal).length" ng-class="{'active': $root.modalSwap.add}"><a ng-click="$root.modalSwap.add=true; $root.modalSwap.kart=false; $root.modalSwap.active=false">Agregar compra</a></li>
                  <li ng-class="{'active': !Object.keys(modal).length, 'active': $root.modalSwap.kart}"><a ng-click="$root.modalSwap.add=false; $root.modalSwap.kart=true; $root.modalSwap.active=false" ng-show="$root.activePotential && $root.activePotential.opportunities.length">Equipos a Cotizar</a></li>
                  <li><a ng-class="{'active': $root.modalSwap.active==true}" ng-click="$root.modalSwap.add=false; $root.modalSwap.kart=false; $root.modalSwap.active=true">Cotizaciones activas</a></li>
                </ul>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalClose()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body" ng-show="$root.modalSwap.kart">
                <div class="row" style="margin-bottom:10px;" ng-repeat="opportunity in $root.activePotential.opportunities">
                    <div class="col-xs-2">
                        <img src="/img/equipos/OBJECT_{{opportunity.model}}.png" alt="no profile image" class="img-thumbnail">
                    </div>
                    <div class="col-xs-10">
                        <div class="col-xs-6">
                            <div class="row">
                                <label>Marca:</label> {{opportunity.brand}}
                            </div>
                            <div class="row">
                                <label>Premodelo:</label> {{opportunity.premodel}}
                            </div>
                            <div class="row">
                                <label>Paquete:</label> {{opportunity.customization[0].clave}}
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <label>Modelo:</label> {{opportunity.model}}
                            </div>
                            <div class="row">
                                <label>Categoría:</label> {{opportunity.category}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body" ng-show="$root.modalSwap.active">
                <ul class="nav nav-tabs">
                  <li style="cursor: pointer" ng-class="{active: (tabs == {{$index+1}})}" ng-repeat="potentials in $root.activeAccount.potentials" ng-click="showPot({{$index+1}})" ng-hide="( (limitPreview) ? ({{$index}} == $root.activeAccount.potentials.length-1) : (false) )">
                  <!-- potentials.length -1 because activeAccount has the current addPotential, hece the last one is null -->
                    <a style="cursor: pointer">{{$index+1}}</a>
                  </li>
                </ul>
                <div ng-repeat="potentials in $root.activeAccount.potentials" class="potentialPreview" ng-show="tabs == {{$index+1}}">
                    <active-potenial potential="potentials.id" accountid="$root.activeAccount.id" name="$root.user.nombre"></active-potenial>
                </div>
            </div>
            <div class="modal-body" ng-show="$root.modalSwap.add">
                <h2 ng-show="modalContact.nombre && !$root.user"> Gracias por registrarte {{modalContact.nombre}}! </h2>
                <h2 ng-show="$root.user"> Nueva cotización para {{$root.user.nombre}} </h2>
                <div class="row" ng-show="$root.modalSwap.signup && !($root.modalSwap.new || $root.modalSwap.login)">

                <p class="col-xs-12">Estimado usuario, si ya cuenta con una cuenta de registro acceder por <b>login</b>, de lo contrario favor de <b>registrarse</b> para tener nueva cuenta.
                </p>
                    <div class="col-xs-12 topBotton">
                        <button type="button" class="col-xs-offset-5 col-xs-2 btn btn-primary" data-dismiss="modal" ng-click="$root.modalSwap.signup=false; $root.modalSwap.login=true;">Login</button>
                    </div>
                    <br>
                    <br>
                    <div class="col-xs-12">
                        <button type="button" class="col-xs-offset-5 col-xs-2 btn btn-primary" data-dismiss="modal" ng-click="$root.modalSwap.signup=true; $root.modalSwap.new=true" >Registrarse</button>
                    </div>
                </div>
                <form ng-submit="loginAccount(modalLogin)" ng-show="$root.modalSwap.login">
                    <div class="col-xs-12">
                    <p>
                    Emplea el correo y telefono que usaste para solicitar una cotización anterior en Mexipol
                    </p>
                    <div class="col-xs-10 col-xs-offset-1 text-center loginError" ng-show="loginError">
                    <span><i class="fa fa-exclamation-triangle"></i>{{loginError}}</span>
                    </div>
                        <div class="col-xs-4 col-xs-offset-4 col-md-6 col-md-offset-3 loginForm2">
                            <div class="row">
                                <label for="loginName">Email:</label>
                                <input type="text" class="form-control" id="loginName" ng-model="modalLogin.email" placeholder="ejemplo@empresa.com">
                            </div>
                            <div class="row">
                                <label for="loginPassword">Teléfono:</label>
                                <input type="text" class="form-control" id="loginPassword" ng-model="modalLogin.password">
                            </div>
                        </div>
                    </div>
                </form>
                <form class="row" ng-if="($root.modalSwap.signup || $root.modalSwap.contact) && $root.modalSwap.new" name="cForm">
                <div class="col-xs-12" ng-show="$root.modalSwap.signup && $root.modalSwap.new">
                <!-- Saves account in modalAccount, contact must be pushed afterwards -->
                    <div class="col-xs-3">
                        <br>
                        <br>
                            <img src="img/crm/organization.png" alt="no Company image" class="img-thumbnail">
                    </div>
                    <div class="col-xs-9">
                        <div class="col-xs-12">
                            <div class="row">
                                <label for="company">Company:</label>
                                <input type="text" class="form-control" id="company" ng-model="modalAccount.title" name="uComp" required>
                                <span ng-show="cForm.uComp.$error.required">Proporciona Nombre de tu empresa.</span>
                            </div>
                            <div class="row">
                                <label for="direccion">Dirección:</label>
                                <input type="text" class="form-control" id="direccion" ng-model="modalAccount.direccion">
                            </div>
                            <div class="row">
                                <label for="estado">Estado:</label>
                                <input type="text" class="form-control" id="estado" ng-model="modalAccount.estado">
                            </div>
                            <div class="row">
                                <label for="pais">País:</label>
                                <input type="tex" class="form-control" id="pais" ng-model="modalAccount.pais">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" ng-show="$root.modalSwap.contact && $root.modalSwap.new">
                <!-- Saves account in modalAccount, contact must be pushed afterwards -->
                    <div class="col-xs-3">
                        <br>
                        <br>
                            <img src="img/crm/organization.png" alt="no Company image" class="img-thumbnail">
                    </div>
                    <div class="col-xs-9">
                        <div class="col-xs-12">
                            <div class="row">
                                <label for="company">Email:</label>
                                <input type="email" class="form-control" id="company" ng-model="modalContact.correo" name="uEmail" required>
                                <span ng-show="cForm.uEmail.$error.required">Proporciona tu Correo.</span>
                                <span ng-show="cForm.uEmail.$error.email">Correo Incorrecto.</span>
                            </div>
                            <div class="row">
                                <label for="direccion">Nombre:</label>
                                <input type="text" class="form-control" id="direccion" ng-model="modalContact.nombre" name="uName" required>
                                <span ng-show="cForm.uName.$error.required">Escribe tu nombre de contacto.</span>

                            </div>
                            <div class="row">
                                <label for="estado">Telefono:</label>
                                <input type="tel" class="form-control" id="estado" ng-model="modalContact.tel" name="uTel" required>
                                <span ng-show="cForm.uTel.$error.required">Escribe un telefono válido.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-footer col-xs-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$root.modalSwap.signup=true; $root.modalSwap.contact=false" ng-show="$root.modalSwap.contact && $root.modalSwap.new">Atrás</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addAccount(modalContact); $root.modalSwap.contact=false;" ng-show="$root.modalSwap.contact && $root.modalSwap.new" ng-disabled="cForm.uEmail.$error.email || cForm.uEmail.$error.required || cForm.uName.$error.required || cForm.uTel.$error.required || cForm.uComp.$error.required">Registrar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$root.modalSwap.signup=false; $root.modalSwap.contact=true" ng-show="$root.modalSwap.signup && $root.modalSwap.new">Continuar</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="modalClose()">Cancelar</button>
                    </div>
                </form>
                <form  class="row" ng-hide="$root.modalSwap.signup || $root.modalSwap.contact || $root.modalSwap.login">
                    <div class="col-xs-3">
                        <img src="/img/equipos/OBJECT_{{modal.model}}.png" alt="no profile image" class="img-thumbnail">
                    </div>
                    <div class="col-xs-9">
                        <div class="col-xs-12">
                            <div class="row">
                                <label for="company">Brand:</label> {{modal.brand}}
                            </div>
                            <div class="row">
                                <label for="name">Model:</label> {{modal.model}}
                            </div>
                            <div class="row">
                                <label for="email">Premodel:</label> {{modal.premodel}}
                            </div>
                            <div class="row">
                                <label for="telefono">Category:</label> {{modal.category}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 border-t" ng-show="phase1">
                        <div class="col-xs-12">
                        <legend>
                        Escoge la configuración Principal
                        </legend>
                        </div>
                    </div>

                    <div class="scrollFit">
                        <div class="col-xs-12" ng-repeat="type in modal.select" ng-show="phase1">
                            <div class="col-xs-12 boxedSelect" ng-click="filterSelect(type)">
                                <label>Tipo: {{type.type}}</label><br>
                                <p>
                                {{type.description}}
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 border-t" ng-show="phase2">
                            <label>{{selectFilter.type}}</label>
                            <p>{{selectFilter.description}}</p>
                        </div>
                         <div class="col-xs-12 border-t" ng-show="phase2">
                         <h3 class="text-center"> Seleccióna el paquete deseado abajo:</h3>
                            <div class="col-xs-3">
                            <legend>
                            Modelo y Código
                            </legend>
                            </div>
                            <div class="col-xs-9">
                            <legend>
                            Descripción
                            </legend>
                            </div>
                        </div>
                        <div class="col-xs-12 border-b" ng-repeat="feature in modal.customization | filter: selectFilter.type" ng-show="phase2">
                            <div class="col-xs-3">
                                <label>
                                <input type="radio" name="featureRadio"  ng-model="feature.select" ng-if="$index!=0" ng-value="true" ng-change="clearAllSelect(feature)">
                                Código: <b>{{feature.codigo}}</b><br>
                                Clave: <em>{{feature.clave}}</em>
                                </label>
                            </div>
                            <div class="col-xs-9">
                                {{feature.caption}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" ng-hide="$root.modalSwap.signup || $root.modalSwap.contact">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$root.modalSwap.signup=true; $root.modalSwap.contact=false" ng-show="$root.modalSwap.contact && $root.modalSwap.new">Atrás</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addAccount(modalContact); $root.modalSwap.contact=false;" ng-show="$root.modalSwap.contact && $root.modalSwap.new">Registrar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="loginAccount(modalLogin);" ng-show="$root.modalSwap.login">Login</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$root.modalSwap.signup=false; $root.modalSwap.contact=true" ng-show="$root.modalSwap.signup && $root.modalSwap.new">Continuar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addEquip()" ng-hide="($root.modalSwap.signup || $root.modalSwap.contact || (!Object.keys(modal).length && $root.modalSwap.kartEnabled) || $root.modalSwap.login) || addOverride" ng-disabled="phase1">Agregar Equipo</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addEquip()" ng-show="addOverride" ng-disabled="phase1">Agregar Equipo</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="!Object.keys(modal).length && $root.modalSwap.kartEnabled && $root.modalSwap.kart" ng-click="sendQuote()">Cotizar equipos</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-show="!Object.keys(modal).length && $root.modalSwap.kartEnabled" ng-click="addClose()">Agregar otros equipos</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="modalClose()">Cancelar</button>
           <!-- <button type="button" class="btn btn-default">Save changes</button> -->
            </div>
        </div>
    </div>
</div>
<!-- MODAL END -->

<div class="jumbotron text-center" ng-style="jumbo">
    <h1><i class="fa center-block text-center" ng-class="icon"></i>{{ tagline }}</h1>
</div>
<!-- whole page in inherited, margin  specific under container class -->
<!-- NerdCtrl WORKS DIRECTLY TO $scope UNLIKE GeekCtrl WHICH USES this.var -->
<div class="container pdp">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-2">
            <div class="col-xs-4 col-sm-3" ng-repeat="Types in equipTypes">
                <a class="thumbnail" ng-href="/equipos/{{Types.category}}/{{Types.first}}" ng-class="{active: ('{{showCase}}' == '{{Types.category}}')}">
                    <img ng-src="../img/equipos/{{Types.img}}A.png" ng-show="'{{showCase}}' == '{{Types.category}}'" />
                    <img ng-src="../img/equipos/{{Types.img}}.png" ng-show="'{{showCase}}' != '{{Types.category}}'" />
                    <h3 style="text-align:center">{{Types.category}}</h3>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <ul class="nav nav-tabs">
                    <li role="presentation"
                        ng-class="{active: (equipo.model==queu)}"
                        ng-repeat="equipo in Equipos.equipos"
                        ng-show="equipo.category == showCase">
                        <a class="text-center" ng-href="/equipos/{{equipo.category}}/{{equipo.model}}">{{equipo.model}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="media no-bg" ng-repeat="equipo in Equipos.equipos" ng-if="equipo.category == showCase && (queu == equipo.model || queu == 'all')">
            <div class="media-body" itemscope itemtype="http://schema.org/Product">
                <div class="col-xs-12 col-sm-5">
                    <span class="ribbon" itemprop="category" style="visibility:hidden; position:absolute;">
                        {{equipo.category}}
                    </span>
                    <img class="center-block" ng-src="../img/equipos/OBJECT_{{ equipo.model }}.png" alt="{{ equipo.model}}" ng-style="Equipos.mediaImg" itemprop="image">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h1 class="media-heading off" itemprop="name">{{ equipo.model }}
                    <button type="button" class="btn btn-default" ng-click="shopEquip(equipo)"> <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" title="Agregar Equipos"></span>   Cotizar equipo</button>
                    </h1>
                    <h3>{{equipo.type}}</h3>
                    <!--DOCS-->
                    <div class="row">
                        <a class="col-xs-4 docs" ng-href="../docs/{{equipo.model}}_{{document.name}}" target="_blank" ng-repeat="document in equipo.documents">
                            <i class="fa fa-file-pdf-o fa-3x center-block text-center"></i>
                            <h4 class="text-center" style="margin-top:8px;">{{document.type}} </h4>
                        </a>
                    </div>
                    <!--END DOCS-->
                    <div>
                        <div ng-repeat="parameter in equipo.parameters">
                            <label>
                                {{parameter.Param}}
                            </label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="{'width': '{{parameter.Value}}%'}">
                                    <span class="" ng-show="!parameter.reduce">{{parameter.Value | number:1}}</span>
                                    <span class="" ng-show="parameter.reduce">{{parameter.Value/10 | number:1}}</span>
                                </div>
                                <span style="float:right;" ng-show="{{parameter.inVal}}">{{parameter.inText}}: {{parameter.inVal}} psi</span>
                            </div>
                        </div>
                    </div>
                    <p itemprop="description">{{equipo.caption}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--    NEWS SECTION  -->
<line class="col-xs-12 lineLast"></line>
<postsection ng-init="Facebook.FacebookApi('posts', 'message, picture', ['equipos','Equipos', 'Graco', 'graco', 'Maquinaria', 'MAQUINARIA']);">
</postsection>
