<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <h2>
            ¿QUÉ ES LA POLIUREA?
        </h2>
        </div>
        <div class="col-xs-12">
        <p style="text-align:justify">
            Es una línea de recubimientos derivados de la reacción entre un isocianato y una amina, la reacción que va formando un polímero es el resultado de la unión de los monómeros de diisocianatos y diaminas. Resultado del trabajo de desarrollo tecnológico en los últimos 20 años, la poliurea es un recubrimiento que puede ser utilizado en una amplia gama de sectores como automotriz, construcción, industrial, naval, militar, minería, etc..
        </p>
        </div>
        <div class="col-xs-6 col-md-8">
            <p style="text-align:justify">
            El termino poliurea ha sido erróneamente utilizado en el pasado, es importante definir y reconocer las diferencias que en base a su composición presenta este material, esta área de recubrimientos puede ser dividida en tres sub-segmentos:
            </p>
            <ol class="hidden-xs">
            <li>
                <h3>POLIUREA:</h3>
                <p style="text-align:justify"> 
                Resultado de la reacción entre un componente isocianato y una mezcla de resinas. El isocianato puede ser monomerico, prepolimero o una mezcla, la mezcla de resinas únicamente puede ser con terminación amina</p>
            </li>
            <li>
                <h3>HIBRIDO DE POLIURETANO/UREA:</h3>
                <p style="text-align:justify"> 
                Resultado de la reacción entre un componente isocianato y una mezcla de resinas. El isocianato puede ser monomerico, prepolimero o una mezcla, la mezcla de resinas puede ser con terminación amina/poliol, con adición de uno o más catalizadores.
                <p>
            </li>
            <li>
                <h3>POLIURETANO:</h3>
                <p style="text-align:justify"> 
                Resultado de la reacción entre un componente isocianato y una mezcla de resinas. El isocianato puede ser monomerico, prepolimero o una mezcla, la mezcla de resinas únicamente puede ser con terminación hidroxilo.
                </p>
            </li>
            </ol>

        </div>
        <div class="col-xs-5 col-md-4">
        <img src="img/about/tiles.png" alt="Pisos de Poliurea Mexipol" class="img-responsive">
        </div>
        <div class="col-xs-12 visible-xs">
            <ol class="visible-xs" style="padding-left:15px;">
            <li>
                <h3>POLIUREA:</h3>
                <p style="text-align:justify"> 
                Resultado de la reacción entre un componente isocianato y una mezcla de resinas. El isocianato puede ser monomerico, prepolimero o una mezcla, la mezcla de resinas únicamente puede ser con terminación amina</p>
            </li>
            <li>
                <h3>HIBRIDO DE POLIURETANO/UREA:</h3>
                <p style="text-align:justify"> 
                Resultado de la reacción entre un componente isocianato y una mezcla de resinas. El isocianato puede ser monomerico, prepolimero o una mezcla, la mezcla de resinas puede ser con terminación amina/poliol, con adición de uno o más catalizadores.
                <p>
            </li>
            <li>
                <h3>POLIURETANO:</h3>
                <p style="text-align:justify"> 
                Resultado de la reacción entre un componente isocianato y una mezcla de resinas. El isocianato puede ser monomerico, prepolimero o una mezcla, la mezcla de resinas únicamente puede ser con terminación hidroxilo.
                </p>
            </li>
            </ol>
        </div>
        
    </div>
    <br><br>
    <div class="row">
        <div class="col-xs-12">
            <img src="img/about/tiles2.png" alt="Pisos de Poliurea Mexipol" class="img-responsive">
        </div>
        <br>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="media">
              <a class="media-left hidden-xs" href="#">
                <img class="media-object" src="img/about/apply1.png" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                  <img class="media-object visible-xs" src="img/about/apply1.png" alt="Generic placeholder image">
                    <h3 class="media-heading">Ventajas de la Poliurea</h3>
                    <ul>
                        <li>
                        Es rápidamente aplicada en forma de spray
                        </li><li>
                        Secado libre al tacto en minutos
                        </li><li>
                        Cura incluso a temperaturas bajo °0C
                        </li><li>
                        Rápido retorno a servicio de las aplicaciones
                        </li><li>
                        No contiene solventes ni VOC ́s
                        </li><li>
                        100% Solidos
                        </li><li>
                        Insensible al agua y la humedad durante las
                        </li><li>
                        aplicaciones
                        </li><li>
                        Alta resistencia química
                        </li><li>
                        Alta resistencia a la temperatura
                        </li><li>
                        Alta resistencia a la ruptura
                        </li><li>
                        Alta adhesión a la mayoría de sustratos
                        </li><li>
                        Puede alcanzar altos espesores de película
                        </li><li>
                        Alta resistencia al desgaste
                        </li>
                    </ul>
              </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="media">
              <a class="media-left hidden-xs" href="#">
                <img class="media-object" src="img/about/apply2.png" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                    <div class="col-xs-12 col-sm-6">
                        <img class="media-object visible-xs" src="img/about/apply2.png" alt="Generic placeholder image">
                        <h3 class="media-heading">Aplicaciones en Construcción</h3>
                        <ul>
                            <li>
                            <a href="/aplicaciones/Espejos%20de%20Agua">
                            Construcción y reparación de cubiertas de puentes
                            </a>
                            </li><li>
                            <a href="aplicaciones/Pisos">
                            Pisos
                            </a>
                            </li><li>
                            <a href="/aplicaciones/Estacionamientos">
                            Estacionamientos
                            </a>
                            </li><li>
                            <a href="/aplicaciones/Impermeabilizacion">
                            Impermeabilizante
                            </a>
                            </li><li>
                            <a href="aplicaciones/Techos%20Galvanizados">
                            Relleno de juntas
                            </a>
                            </li><li>
                            <a href="/aplicaciones/Decoracion">
                            Diseño arquitectónico
                            </a>
                            </li>
                        </ul>
                    </div>
                  <div class="col-xs-12 col-sm-6">
                    <h3 class="media-heading">Poliureas para Construcción</h3>
                         <div class="col-xs-4 col-sm-12 docsHover" ng-repeat="chem in ['6080', 'PU-100', 'ART-70450']">
                            <a class="docs" ng-href="/quimicos/Poliureas/{{chem}}" target="_blank">
                                <i class="fa fa-tint fa-3x center-block text-center" aria-hidden="true"></i>
                                <h4 class="text-center" style="margin-top:8px;">{{chem}} </h4>
                            </a>
                        </div>

                  </div>
              </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="media">
              <a class="media-left hidden-xs" href="#">
                <img class="media-object" src="img/about/apply3.png" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <div class="col-xs-12 col-sm-6">
                    <img class="media-object visible-xs" src="img/about/apply3.png" alt="Generic placeholder image">
                    <h3 class="media-heading">Aplicaciones Industriales</h3>
                    <ul>
                        <li>
                        Plantas de aguas residuales
                        </li><li>

                        Recubrimientos en tuberías y tanques
                        </li><li>

                        Contención secundaria para tanques y reactores
                        </li><li>

                        Recubrimiento de alcantarillado
                        </li><li>

                        Recubrimientos marinos
                        </li><li>

                        Partes moldeadas
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3 class="media-heading">Poliureas para Industriales</h3>
                        <div class="col-xs-4 col-sm-12 docsHover" ng-repeat="chem in ['PU-100', 'ALM-70300', 'ART-70450']">
                            <a class="docs" ng-href="/quimicos/Poliureas/{{chem}}" target="_blank">
                                <i class="fa fa-tint fa-3x center-block text-center" aria-hidden="true"></i>
                                <h4 class="text-center" style="margin-top:8px;">{{chem}} </h4>
                            </a>
                        </div>

                  </div>
              </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="media">
              <a class="media-left hidden-xs" href="#">
                <img class="media-object" src="img/about/apply4.png" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <div class="col-xs-12 col-sm-6">
                    <img class="media-object visible-xs" src="img/about/apply4.png" alt="Generic placeholder image">
                    <h3 class="media-heading">Aplicaciones Automotrices</h3>
                    <ul>
                        <li>
                        Bedliners de camionetas
                        </li><li>
                        Forro de cintas transportadoras
                        </li><li>
                        Construcción de Botes
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3 class="media-heading">Poliureas usos Automotrices</h3>
                    <div class="col-xs-4 col-sm-12 docsHover" ng-repeat="chem in ['6080', 'ALF-7045']">
                        <a class="docs" ng-href="/quimicos/Poliureas/{{chem}}" target="_blank">
                            <i class="fa fa-tint fa-3x center-block text-center" aria-hidden="true"></i>
                            <h4 class="text-center" style="margin-top:8px;">{{chem}} </h4>
                        </a>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="media">
              <a class="media-left hidden-xs" href="#">
                <img class="media-object" src="img/about/apply5.png" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <div class="col-xs-12 col-sm-6">
                    <img class="media-object visible-xs" src="img/about/apply5.png" alt="Generic placeholder image">
                    <h3 class="media-heading">Otras Aplicaciones</h3>
                    <ul>
                        <li>
                        Acuarios, Albercas y estanques
                        </li><li>
                        Parques acuáticos y Parques infantiles
                        </li><li>
                        Reservorios de agua
                        </li><li>
                        Fachadas
                        </li><li>
                        Bañeras
                        </li><li>
                        Recubrimiento de figuras 3D
                        </li><li>
                        Revestimiento de torres de enfriamiento
                        </li><li>
                        Minería
                        </li><li>
                        Boyas marinas
                        </li><li>
                        Túneles
                        </li><li>
                        Área de almacenaje en frio
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3 class="media-heading">Otros usos de Poliureas</h3>
                        <div class="col-xs-4 col-sm-12 docsHover" ng-repeat="chem in ['6080', 'ALF-7045', 'ART-7052']">
                            <a class="docs" ng-href="/quimicos/Poliureas/{{chem}}" target="_blank">
                                <i class="fa fa-tint fa-3x center-block text-center" aria-hidden="true"></i>
                                <h4 class="text-center" style="margin-top:8px;">{{chem}} </h4>
                            </a>
                        </div>

                  </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        <h2>
        <p>Los recubrimientos a base de Poliurea deben ser siempre vistos como resultado de un sistema de productos. Una
        aplicación exitosa de estos recubrimientos son resultado de una combinación de factores los cuales deberán ser
        correctamente coordinados:
        </p>
        </h2>

        </div>
        <div class="col-xs-8 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 col-xs-offset-2">
            <img src="img/about/tiles3.png" alt="Pisos de Poliurea Mexipol" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <h2 class="col-xs-12">
            Aspectos Técnicos de la Poliurea
        </h2>
        <div class="col-xs-6">
        <p style="text-align:justify">
            La reactividad de la poliurea es independiente
            de la temperatura del medio ambiente. Las poliureas
            reaccionan rápido independiente de la temperatura esta
            reaccionara a la misma velocidad. Las temperaturas
            pueden ser de 100°F o de -25°F y la velocidad de
            reacción será casi la misma.
            </p>
            <p style="text-align:justify" class="hidden-xs">
            Los sistemas epóxicos no logran reaccionar a tan bajas
            temperaturas. Los sistemas de poliuretano también
            podrían reaccionar rápidamente si son catalizados, sin
            embargo, un sistema de poliuretano diseñado para
            reaccionar a -25°C para reaccionar rápido, reaccionaria
            demasiado rápido a 100°F, y uno diseñado para reaccio-
            nar rápido a 100°C reaccionaria muy lento o incluso no
            reaccionaria a -25°F.
            3
            </p>
            <p style="text-align:justify" class="hidden-xs hidden-sm">
            La reactividad de la poliurea es independiente de la
            humedad del medio ambiente. Puede ser espreado a
            98% de humedad relativa y el recubrimiento en espray
            será libre de burbujas (tener especial cuidado con el
            punto de rocío). Un poliuretano deberá ser catalizado
            este catalizador es diseñado tanto para la reacción de
            formación del polímero como para la reacción de
            formación de burbujas de CO2 entre el lado poliol y el
            lado isocianato.
            </p>
            <p style="text-align:justify" class="hidden-xs hidden-sm">
            Desafortunadamente estos catalizadores impulsaran en igual medida ambas reacciones incluida la reacción entre lahumedad del aire y el isocianato y cuando esto suceda el recubrimiento tendrá burbujas de CO2.
            </p><p style="text-align:justify" class="hidden-xs hidden-sm">
            Las poliureas desarrollan sus propiedades rápidamente, esto hace que las poliurea regresen a servicio la superficie aplicada de igual manera, eso implica que puedas caminar o volver a usar la superficie recubierta en pocas horas.
            Los recubrimientos epóxicos y de poliuretano tomaran días para poder hacer uso de la superficie aplicada
            </p>
        </div>
        <div class="col-xs-5 col-xs-offset-1">
            <img src="img/about/apply6.jpg" alt="Pisos de Poliurea Mexipol" class="img-responsive">
        </div>
        <div class="col-xs-12 visible-xs visible-sm">
        <p style="text-align:justify" class="hidden-sm">
            Los sistemas epóxicos no logran reaccionar a tan bajas
            temperaturas. Los sistemas de poliuretano también
            podrían reaccionar rápidamente si son catalizados, sin
            embargo, un sistema de poliuretano diseñado para
            reaccionar a -25°C para reaccionar rápido, reaccionaria
            demasiado rápido a 100°F, y uno diseñado para reaccio-
            nar rápido a 100°C reaccionaria muy lento o incluso no
            reaccionaria a -25°F.
            3
            </p>
            <p style="text-align:justify">
            La reactividad de la poliurea es independiente de la
            humedad del medio ambiente. Puede ser espreado a
            98% de humedad relativa y el recubrimiento en espray
            será libre de burbujas (tener especial cuidado con el
            punto de rocío). Un poliuretano deberá ser catalizado
            este catalizador es diseñado tanto para la reacción de
            formación del polímero como para la reacción de
            formación de burbujas de CO2 entre el lado poliol y el
            lado isocianato.
            </p>
            <p style="text-align:justify">
            Desafortunadamente estos catalizadores impulsaran en igual medida ambas reacciones incluida la reacción entre lahumedad del aire y el isocianato y cuando esto suceda el recubrimiento tendrá burbujas de CO2.
            </p><p style="text-align:justify">
            Las poliureas desarrollan sus propiedades rápidamente, esto hace que las poliurea regresen a servicio la superficie aplicada de igual manera, eso implica que puedas caminar o volver a usar la superficie recubierta en pocas horas.
            Los recubrimientos epóxicos y de poliuretano tomaran días para poder hacer uso de la superficie aplicada
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <img src="img/about/apply7.jpg" alt="Pisos de Poliurea Mexipol" class="img-responsive" style="position:absolute; top:0px;">
            <img src="img/about/apply9.jpg" alt="Pisos de Poliurea Mexipol" class="img-responsive" style="position:absolute; bottom:0px">
            <img src="img/about/apply8.jpg" alt="Pisos de Poliurea Mexipol" class="img-responsive" style="position:relative; opacity:0">
        </div>
        <div class="col-xs-6 col-xs-offset-0">
            <img src="img/about/apply8.jpg" alt="Pisos de Poliurea Mexipol" class="img-responsive">
        </div>

    </div>
    <br><br>
    <div class="row">
        <h2 class="col-xs-12">
        DESARROLLO RECIENTE DE LA POLIUREA
        </h2>
        <div class="col-xs-12">
        <p>
            En los últimos años el desarrollo de nuevos materiales a base de poliurea han ampliado la gama de posibilidades para la solución y desarrollo de nuevos nichos de mercado.
        </p>
        </div>
        <br>
    </div>
    <div class="row">
        <h3 class="col-xs-12">
        POLIUREA EN FRIO/ POLIUREA DE REPARACION/ POLIUREA MONOCOMPONENTE
        </h3>
        <div class="col-xs-12">
        <p style="text-align:justify">
            Materiales a base de poliurea bicomponentes o monocomponentes que son de muy lenta reacción y capaces de
desarrollar propiedades semejantes a las poliureas aplicadas en reactores y equipos a alta presión y alta temperatura. Dichos materiales se pueden mezclar de forma manual y su reacción es mayor en la mayoría de los casos de
minutos, lo que hace posible que sean utilizados como medio de reparación y pequeñas aplicaciones.
        </p>
        </div>
        <br>
        <div class="col-xs-12">
            <div class="media">
              <a class="media-left hidden-sm hidden-xs" href="#">
                <img class="media-object" src="img/about/apply10.png" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <img class="media-object visible-sm visible-xs" src="img/about/apply10.png" alt="Generic placeholder image">
                <h3 class="media-heading">RELLENO DE JUNTAS A BASE DE POLIUREA</h3>
                <p>
                    Este tipo de tecnología ha ganado recientemente una gran penetración en el mercado ya que logra en cortos periodos de tiempo un
secado instantáneo capaz de volver a puesta en marcha las superficies
aplicadas, otra de sus ventajas es que reacciona a bajas temperaturas
logrando realizar el trabajo donde materiales tradicionales como
epoxicos y poliuretanos no podrían. Generalmente formulas con gran
elasticidad y cortos periodos de reacción aplicados tanto en cartuchos
pequeños como con máquinas sin calentadores capaz de avanzar
grandes extensiones lineales
                </p>
              </div>
            </div>
        </div>
        <br>
    </div>
    <div class="row">
        <h2 class="col-xs-12">
            POLIUREAS POLIASPARTICAS
        </h2>
        <div class="col-xs-12">
            <p style="text-align:justify">
                Derivado su nombre por su relación con la materia prima predecesoras de ellas, estos materiales han ganado
    su bien valida reputación como recubrimiento principalmente estable a la luz solar gracias a una excelente
    estabilidad a la incidencia de rayos UV, este tipo de tecnología es desarrollada para su aplicación mediante
    diversos equipos de espreado principalmente bicomponentes en diversas proporciones, pero es sin lugar a
    duda gracias a su popularidad la aplicación como pisos uno de los mercados más crecientes de los
    recubrimientos poli aspárticos, que siendo un desarrollo para aplicación manual manteniendo las ventajas
    características de las poliureas espreadas lo que ha originado que se conviertan en unos de los productos de
    más crecimiento en los últimos años.
            </p>
        </div>
        <br>
    </div>
    <div class="row" style="border-bottom:solid 1px #BFBFBF; padding-bottom:15px;">
        
        <div class="col-xs-4">
            <img src="img/about/apply13.png" alt="Pisos de Poliurea Mexipol" class="img-responsive"  style="max-height:196px">
        </div>
        <div class="col-xs-3">
            <img src="img/about/apply11.png" alt="Pisos de Poliurea Mexipol" class="img-responsive" style="max-height:196px">
        </div>
        <div class="col-xs-3">
            <img src="img/about/apply12.png" alt="Pisos de Poliurea Mexipol" class="img-responsive"  style="max-height:196px; float:right;">
        </div>
        <div class="col-xs-2">
            <img src="img/about/apply14.png" alt="Pisos de Poliurea Mexipol" class="img-responsive"  style="max-height:196px; float:right;">
        </div>
    </div>
    <div class="row hidden-xs hidden-sm">
    <p style="text-align:justify; color:gray">
        La información y datos contenidos aquí se creen exactos y fiables, sin embargo, es responsabilidad del usuario determinar la factibilidad de uso.
MEXIPOL no puede conocer todos los usos para los cuales puede ser usado su producto o las condiciones de uso, esto hace que no exista garantía
para la conveniencia o posilidad de uso para un uso particular o propósito. Los usuarios deberán evaluar consistentemente cualquier uso propuesto
de los productos MEXIPOL e independiente concluir el desempeño satisfactorio para la aplicación. Al igual si la manera en que el producto es usado
requiere aprobaciones gubernamentales o acreditación, el usuario deberá obtener dicha aprobación.
    </p>

    </div>
    <!-- END of div.grid for headline -->
    <!-- column and division set -->
</div>