
body { padding-top:60px; overflow-x: hidden}
#poster{font-family:'Dosis', sans-serif !important;}
#poster2{font-family:'Dosis', sans-serif !important; background-image: url(/docs/posters/background.jpg); overflow-x:hidden;}
div#poster div, div#poster section{font-size:140%; z-index:9; position: relative;}
div#poster h1 {font-variant: small-caps; letter-spacing:6px}
div#poster h2 {font-weight:lighter !important; text-transform: none;}
div#poster h2.highlight1{font-weight: 900 !important;}
div#poster h5{font-variant:small-caps; margin-bottom:0.1em;}
div#poster.second, div#poster.second h1, div#poster.second h2, div#poster.second h3, div#poster.second h4, div#poster.second h5{
    font-family: 'Noto Sans', sans-serif !important;
}
div#poster ol>li, div#poster ul>li {font-size: 60%;}
div#poster em {color: rgb(242, 157, 0);font-style: normal;}
div.logoWide{height:1.2em;}
div.logoWide2{height:auto; width: 80%; margin-left: 10%; margin-bottom: 20px;}
div.logoWide2 img{
    width: 100%
}
div.logoTall{padding-top: 26px;}
#footFront{border-bottom: solid 4px #333; border-top: solid 3px #333}
#footFront.light{border-bottom: solid 4px rgba(51, 51, 51, 0.23); border-top: solid 3px rgba(51, 51, 51, 0.23)}
#footFront.none{border:none; z-index: 10; position: relative;}
#program{position:relative; padding-bottom:155px;}
section#logoHead {border-bottom: solid #333 2px; opacity:0; height:10px;}
section#logoFoot {margin-top:-32px; min-height:10em;}
section#logoFoot img{max-width:100%; max-height: 100%}
div#shopModal.in, div#myModal.in, div#myModal2.in, div#myModal3.in, div#myModal4.in, div#myModal5.in{
    display:block;
}
/** ==================== **/
/** ==== Navigation ==== **/
/** ==================== **/

.navbar img {
    height: 50px;
    width: auto;
    margin: 0;
}

.navbar .navbar-header img {
    margin-top: 10px;
    padding-right: 20px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #49A9D1;
}

.navbar a.graphic {
    margin: 0;
    padding: 0 15px;
    top: 10px;
}

.navbar a.graphic img {
    height: 39px;
    width: auto;
    padding: 0;
}

.navbar button {
    float: right;
    top: 10px;
    position: relative;
}

/** == Contact Overlay == **/

.contact {
    position: fixed;
    top: 60px;
    bottom: 0;
    right: -370px;
    overflow: hidden;
    width: 370px;
    height: 100%;
    background: white;
    -webkit-transition: -webkit-transform 0.3s, width 0.3s;
    -moz-transition: -moz-transform 0.3s, width 0.3s;
    -o-transition: transform 0.3s, width 0.3s;
    transition: transform 0.3s, width 0.3s;
    overflow-y: hidden;
}

.contact h2 {
    color: #353535;
}

.contact a {
    cursor: pointer;
}

.contact a, .contact p {
    margin: 0;
    padding: 0;
}

.contact-active > .contact-mask{
    width:600px;
    display:block;
}

.contact-mask{
    position: inherit;
    top: 0;
    bottom: 0;
    right: 370px;
    width: 2px;
    height: 100%;
    background: transparent;
    z-index: 12000;
    display:none;
}

input.ng-invalid.ng-pristine, textarea.ng-invalid.ng-pristine{
    background:rgb(252, 229, 169);
}
input.ng-dirty.ng-invalid{
    background:rgba(200, 15, 15, 0.32);
}
input.ng-dirty.ng-valid{
    background:linear-gradient(45deg, rgba(97, 105, 115, 0.86) -20%,rgba(5, 171, 224, 0.19) 100%);
    color:whitesmoke;
}
textarea.ng-dirty.ng-valid{background:linear-gradient(45deg, rgba(97, 105, 115, 0.86) -20%,rgba(5, 171, 224, 0.19) 100%);
    color:whitesmoke;}
input.ng-invalid{
    background:rgba(200, 15, 15, 0.32);
}

.contact-active {
    -webkit-transform: translateX(-370px);
    -moz-transform: translateX(-370px);
    -ms-transform: translateX(-370px);
    -o-transform: translateX(-370px);
    transform: translateX(-370px);
}

img.avatar {
    height: 6em !important;
    margin: 1em 0 0 0 !important;
}

legend.contactLegend {
    left: 5px;
    top: -24px;
    float:left;
    width:auto !important;
    position: relative;
    line-height: normal;
    background: white;
    padding: 0 7px;
}

div.contact div,line {
    float:left
}
div.contact line {
    width: calc(100% - 32px);
    background: linear-gradient(45deg, #5f6f81 0%,#05ABE0 100%);
    margin-left: 16px;
    margin-right: 16px;
    height: 1px;
}

.nav-pills > li {
    padding: 0;
}

.nav-pills>li+li {
    margin-left: auto;
}

.nav-pills>li>a {
    font-size: 1.12em;
    text-align: center;
}

.label-text {
    alignment-baseline: middle;
    font-size: 12px;
    font-family: arial,helvetica,"sans-serif";
    fill: #393939;
}
.label-line {
    stroke-width: 1;
    stroke: #393939;
}
.label-circle {
    fill: #393939;
}
.sendSuccess{
    color:#00807A;
}
.sendError{
    color:#800000;
}
.sendProcess{
    color:#BABD11;
}
donuttwo-chart svg{
    overflow: visible !important;
}
.modal{
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.active-banner{
    margin-top: 300px;
    margin-bottom: 290px;
}
.keyLabel{
    text-transform: capitalize;
}
.rowHover2{
     background-color:rgba(210, 234, 255, 0.5);
     font-weight: 600;
}
.dataE{
    padding-top: 5px;
}
.blockData{
    background-color: rgba(228, 228, 228, 0.25);
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.34);
    padding: 10px 15px;
    line-height: 200%;
}
.blockData2{
    background-color: rgba(245, 93, 4, 0.12);
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.34);
    padding: 10px 15px;
}
.form-footer{
    padding: 15px;
    text-align: right;
    margin-top: initial;
    padding-bottom: 0px;
}
.scrollFit {
    overflow-y: scroll;
    height: 300px;
    width: 100%;
}
.buttonplace{
    margin-bottom: 15px;
}
.accountBlock div.col-md-12 div{
    line-height: 29px;
}
.media{
    margin: 15px 0px;
    background-color: rgba(205, 219, 228, 0.45);
}
.media.no-bg {
    background-color: transparent;
}
.media .media-body{
    padding-left: 15px;
    padding-right: 15px;
}
.media .media-body h3{
    font-weight: 800;
    padding-bottom: 4px;
    padding-top: 8px;
    border-bottom: solid 1px #BDBABA;
}
.media .media-left, .media .media-right{
    vertical-align: middle;
}
.media .media-object{
    max-width: 170px;
}
.media-body img.media-object{
    margin: auto;
}
h4.littleLeft{
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 28px;
    line-height: 125%;
    margin-top: 0px;
    margin-bottom: 40px;
    color: #606061;
}
div.tile {
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.42);
    border: 1px solid #BCBCBC;
}
div.sprayEvent {
    font-family: 'Noto Sans', sans-serif !important;
    background-image: url(/docs/posters/background.jpg);

}
div.sprayEvent h1 {
    font-weight: 900;
    color: #316397;
}
div.simpleEvent {
       background-image: url(/docs/posters/Applicant_sketch2.png);
    background-size: 448px;
    background-position-y: -45px;
    background-position-x: 721px;
    background-repeat: no-repeat;
}
img.contained{
    height: 140px;
}
.floatPistol{
    width:210%;
    left:125px;
    top:-200px;
    position: absolute;

}
.floatDate, .floatPlace{
        text-shadow:1px 1px 1px #333;
    }
.topArrow{
    position: absolute;
    top: 6%;
    left: 0px;
    width: 33%;
}
div.slim h5, div.slim ul {
    margin: 5px auto;
}
div.slim{
    margin-top: 15px;
}
.bottomArrow{
    position: absolute;
    bottom: 1190px;
    right: 0px;
    width: 33%;
    opacity: .7;
}
.highlight1{
    color: #0F7576;
    font-weight: 900;
}
.highlight0{
    color: #4B5979;
    font-weight: 900;
}
.selectedWrapper {
    border: 2px dashed rgba(154, 154, 154, 0.46);
    margin: 15px 0;
    position: relative;
}
h3:hover .subtitleSpan{
    opacity: 1;
}
h3 .subtitleSpan{
    opacity: 0;
}
.topBotton{
    margin-bottom: 20px;
}
.btn-float{
    position: absolute;
    right: -5px;
    top: 0px;
}
.modal-header .close{
    margin-top: -2px;
    position: absolute;
    top: 15px;
    right: 15px;
}
.loginForm{
    background-color: white;
    margin-top: 200px;
    padding: 10px 10px 15px 10px;
}
.loginForm2{
    background-color: white;
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 10px 10px 15px 10px;
}
.notValid{
    opacity: .3;
}
fieldset.form-group{
    border:none;
}
.fitAll{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #559FB5;
    z-index: 90;
}
.sub-elementE{
    border-top: 1px dashed rgba(128, 128, 128, 0.1);
    padding-top: 5px;
}

div.selectedWrapper::before {
    content: "Selected Elements ";
    background-color: white;
    position: absolute;
    top: -15px;
    padding: 5px;
    left: 10px;
}
.rowHover{
    padding: 5px 0px;
}
.rowHover:hover{
    background-color:rgba(210, 234, 255, 0.2);
}
.border-right{
    border-right: solid white 1px;
}
.border-top{
    border-top: solid #6A8CDB 1px;
    margin-top: 10px;
}

.contact-card:nth-child(2n+3){
   /* border-right:1px solid #E0E0E0; */
}
h5.anchorText {
    font-weight: 600;
    color: #4D9A9E !important;
}
h5.anchorText a{
    color: #4D9A9E;
}
#footFront img {
    width: auto;
    top: 5px;
    left: inherit;
    position: relative;
    height: 70px;
}
#footFront div:nth-child(2) img{
    left:-55px;
    float: right;
    top:10px
}
#footFront div:last-child img{
    right:0px;
    float: right;
    top:10px

}

section#footFront div {
    height: 90px;
}
.border-b{
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.border-t{
    border-top: 1px solid #E6E6E6;
    margin-top: 5px;
    padding-top: 5px;
}
.border-r{
     border-right: 1px solid #E6E6E6;

}
.autofillWrap{
    border: 1px solid rgba(51, 51, 17, 0.28);
    position: relative;
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.58);
    margin-top: 10px;
    max-height: 250px;
    overflow-y: scroll;
    z-index: 20;
}
.autofillElement{
    min-height: 80px;
    padding: 15px 13px;
}
.autofillElement:hover{
   background-color: #EBEFF2;
   cursor: pointer;
}

.contact-card{
    padding-bottom: 10px;
    padding-left:0px;
    margin-bottom: 10px;
    line-height: 150%;
}
.glyphSide{
    width: calc(100% - 16px);
    float:left;
}
.glyphicon{
    margin-top: 5px;
}
.glyphicon:hover{
    color: #49A9D1;
}
.glyphWrap{
    width:16px;
    float: left;
}
#accountsT tbody td {
    max-width: 250px;
}
.modal.in{
    overflow-y: scroll;
}
a.active {
    background-color: rgba(59, 104, 144, 0.64);
    color: white;
}
a.active:hover{
    color:#79FFEC;
}
img.brandIcon {
    width: auto;
    height: 100%;
}
#program ul li {
    list-style: none;
    font-size: 14px;
}

#program ul {
    margin: 15px 0px  -20px -10px;
}
div.docsHover:hover{
    color:#3dc9b3 !important;
}
a.docs:hover{
    color:#3dc9b3;
}
li:after{right:-1.2em !important;    -webkit-filter: grayscale(30%) sepia(35%);}
li.elcoSpeak:after {
    content: " ";
    height: 17px;
    width: 85px;
    background: url("../docs/posters/elcometer_logo.png") no-repeat;
    background-size: 100%;
    bottom: 2px;
    right: 5px;
    position: absolute;
    display: inline-block;
}
li.gracoSpeak:after{    content: " ";
    height: 1em;
    width: 1.2em;
    background: url("../docs/posters/graco_logo.png") no-repeat;
    background-size: .9em;
    bottom: 2px;
    right: 5px;
    position: absolute;
    display: inline-block;}
li.blastracSpeak:after{    content: " ";
    height: 15px;
    width: 85px;
    background: url("../docs/posters/blastrac_logo.png") no-repeat;
    background-size: 100%;
    bottom: 2px;
    right: 5px;
    position: absolute;
    display: inline-block;}
li.chrolSpeak:after{    content: " ";
    height: 26px;
    width: 1.2em;
    background: url("../docs/posters/chlor_logo.png") no-repeat;
    background-size: 22px;
    bottom: 2px;
    right: 5px;
    position: absolute;
    display: inline-block;}
li.montiSpeak:after{    content: " ";
    height: 23px;
    width: 85px;
    background: url("../docs/posters/monti_logo.png") no-repeat;
    background-size: 100%;
    bottom: 2px;
    right: 5px;
    position: absolute;
    display: inline-block;}
div#poster ol li {position:relative}
li.bullardSpeak:after{    content: " ";
    height: 18px;
    width: 73px;
    background: url("../docs/posters/bullard_logo.png") no-repeat;
    background-size: 100%;
    bottom: 2px;
    right: 5px;
    position: absolute;
    display: inline-block;}
.logoWide2:first-child {
    margin-top: 40px;
}
.smaller h5{
    font-size:0.53em;
}
/* GENERAL all forms arrangements */
div.form-group > button, div.form-group > input {margin-top:10px;}
div.form-group > input {}

@media (max-width: 900px) {
    #listing p{
    font-size:0.87em;
    }
}

/* =========== SPECIFIC FOR HEADLINER IN MAIN PAGE(S) ============ */

*, *:after, *:before { border-box; box-sizing: border-box; }
/*
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }
*/

/* ==== Masking ==== */
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.cover {
    max-width:100%;

    overflow:hidden;
}
.headerText {
    position: absolute;
}

.headerText li {
    text-decoration: none;
    list-style: none;
    border-top: solid 2px rgba(138, 129, 129, 0.32);
}
.headerText {
    position: absolute;
    width: 40%;
}
.headerText p {
    margin-left: 33px;
    line-height: 3em;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #5F5C5A;
    text-shadow: 1px 1px rgb(255, 255, 255);
}

.headerText li:first-child {
    border-top: none;
}

.headerText h3 {
    font-size: 17px;
}

line {
    background: linear-gradient(45deg, #ff89e9 0%,#05ABE0 100%);
    height: 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
line.space{
    margin-top: 6rem;
    margin-bottom: 5rem;
}

.line2 {
    background: linear-gradient(45deg, #5168DD 0%,#4DC7EE 100%);
    margin-top: 1em;
    margin-bottom: 1.5em;
    height: 1px;
    float:left;
    opacity: 0.3;
}
.lineFirst {
    background: linear-gradient(45deg, #3F8585 0%,#05ABE0 100%);
    margin-top: 0rem;
    margin-bottom: 6rem;
    height: 1px;
}
.lineLast {
    background: linear-gradient(45deg, #3F8585 0%,#05ABE0 100%);
     margin-top: 6rem;
    margin-bottom: 0em;
    height: 3px;
}
.just {
    text-align:justify !important;
    text-align:center;
    max-height:115px;
    margin-left:auto;
    margin-right:auto;
 }


.lastSec {
    background:#f7f8f9;
    padding:3rem;

}
div.whole{
    height: calc(100% - 3px);
    height: -webkit-calc(100% - 3px);
    width:100%;

    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC9JREFUeNpi+P//vzgQszJAAZDNiU2MgRhFIDEGYhTBxainCCo4FDzDQYw7AQIMAEPDtjAeVdLcAAAAAElFTkSuQmCC);

    background-repeat:repeat;
    background-color:transparent;
    opacity:1;
    min-height: 220px;
}
address {
    padding: 20px 0px 20px 10%;
    line-height: 2.5em;
    font-family:'Lato',sans-serif;
    color:#f5faff;
    float: left;
    font-weight:300;
}
footer img{
    width: auto;
    padding: 5% !important;
    max-height: 65px;
    max-width:100px !important;
    margin-top: 20px;
    margin-bottom: 0px;
}
postsection img.sign{
    width:18px;
    height:auto;
    position:absolute;
    bottom:14px;
    left:14px;
}

.footSelect {
    border:solid #445 1px;
    border-radius:4px;
    padding: 0;
}

.footSelect h4 {
    margin: 5px 0;
}

div.smaller h5 {
    margin-top: 5px;
}
div.smaller2 h5 {
    margin-top: 5px;
}

.loginError {
    color: #DE2F2F;
    font-size: 16px;
    font-weight: 400;
}
.potentialPreview {
    margin-top: 25px;
}
.cotHead {
    min-height: 398px;
    border: 1px solid #E2E2E2;
    margin: 3px;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(50% - 10px);
}

.cotHead h1 {
    border-bottom: 1px solid #C1C1C1;
}

/** ============= **/
/** ==== PDP ==== **/
/** ============= **/

.container.pdp {
    margin-top: 1%;
}

/** Thumbnails **/
.thumbnail {
    border: 1px solid transparent;
}
a.thumbnail {
    cursor: pointer;
}
a.thumbnail.active {
    background-color: #fff;
    color: #337ab7;
}
.thumbnail>img, .thumbnail a>img {
    height: 70px;
}
.thumbnail > img.active {
    min-height:30px;
    filter: saturate(150%);
    -webkit-filter: saturate(150%);
}
.thumbnail > img.passive {
    min-height:30px;
    filter: grayscale(75%);
    -webkit-filter: grayscale(75%);
    opacity:.7;
}

span.ribbon {
   position: absolute;
   margin-top:40px;
   padding: 6px 16px;
   border-top-right-radius: 37px;
   border-bottom-left-radius: 37px;
   color: white;
   font-size: 1.0em;
}
span.ribbon.Graco {
    bottom: 5px;
    left: 5px;
    height: 40px;
}
h2.off {
    font-size:1.5em;
}
span.ribbon.Reactor2 {
    background: #DF7B6E;
}
span.ribbon.Reactor {
    background: #337AB7;
}
span.ribbon.Fusion {
    background: #9D9D9D;
}
span.ribbon.Probler {
    background: #242525;
}

/** Homepage **/
.jumbotron {
    padding: 1%;
    margin: 0;
    background-position-y: 35%;
    background-size: cover;
}
.jumbotron h1{
    color:rgba(255, 255, 255, 0.64);
    margin: 0;
    font-size: 4em;
}

ul.notificationList{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    overflow-y: auto;
    height: 300px;
    background-color: transparent !important;
}
ul.notificationList.condensed{
    overflow: hidden;
    height: 0px;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
}
.feedBackInput {
    margin: 10px auto 15px;
}
.notificationElement {
    line-height: 20px;
    padding-top: 5px;
    text-align: left;
    border: 1px solid #E6E6E6;
    background-color: white;

}
.boxedSelect {
    border: solid 1px #EEEEEE;
    margin: 10px auto;
    box-shadow: -1px 1px 6px rgba(51, 51, 51, 0.46);
    cursor: pointer;
}
.boxedSelect label{
    cursor: pointer;
}
.notificationElement.Baja{
    background-color: white;
}
.notificationElement.Media{
    background-color: #FFF4DB;

}
.notificationElement.Alta{
    background-color: #FFE9B8;

}
li.notificationElement.row.ng-scope {}

span.noteTitle {
    color: #6D6D6D;
    font-size: 15px;
}

span.noteStatus {
    color: #BABABA;
}
.notificationElement:last-child {
    margin-bottom: 0px;
}

.notificationElement:first-child {
    margin-top: 5px;
}

/* =========== Contact Fliedset forms =========== */
#contactData2, #contactData1, #contactData0 {
    /*background:#333;*/
    float:left;
    padding:0.85em 0.625em 0.75em;
    margin:20px 10px;
}
.cotizationSheet:first-child{
    width: 680px;
    margin: -55px 30px 0px;
    height: 1020px;
}
.cotizationSheet{
    width: 680px;
    margin: 0px 30px 0px;
    zoom: .8;
    height: 1020px;
}
select.form-control {
    height: 46px;
}
p.navbar-text{
    background:Transparent !important;
}
.input-group-addon{
    background:Transparent !important;
    border: none !important;
}
input.Incontact{
    margin-bottom:15px !important;
}
ul.pager{
    float:left;
}
fieldset > div.row {
    margin-top:-40px;
}
fieldset{
    display: block;
-webkit-margin-start: 2px;
-webkit-margin-end: 2px;
-webkit-padding-before: 0.35em;
-webkit-padding-start: 0.75em;
-webkit-padding-end: 0.75em;
-webkit-padding-after: 0.625em;
border: 2px solid rgba(137, 158, 179, 0.6);
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
min-width: -webkit-min-content;
}
.pager li>a, .pager li>span {
    border-radius:5px !important;
}
@media (max-width: 3890px) and (min-width: 1050px){
    #poster{
        font-size:62%;
    }
        .topArrow{
        top: 6%;
        left: 0px;
        width: 33%;
    }
    .bottomArrow{
        top: 1952px;
        right: 0px;
        width: 33%;
    }
    .floatPistol{

    }
}
@media (max-width: 1050px) and (min-width: 993px){
    #poster{
        font-size:85%;
    }
    .topArrow{
        top: 6%;
        left: 0px;
        width: 33%;
    }
    .bottomArrow{
        top: 2152px;
        right: 0px;
        width: 33%;
    }
    .floatPistol{
    width:210%;
    left:65px;
    top:-200px;
    }
}
@media (max-width: 993px) and (min-width: 915px){
    #poster{
        font-size:85%;
    }
    .topArrow{
        top: 6%;
        left: 0px;
        width: 33%;
    }
    .bottomArrow{
        top: 2170px;
        right: 0px;
        width: 33%;
    }
    .floatPistol{
    width:210%;
    left:145px;
    top:-200px;
    }
}
@media (max-width: 915px) and (min-width: 850px){
    #poster{
        font-size:85%;
    }
    .topArrow{
        top: 6%;
        left: 0px;
        width: 33%;
    }
    .bottomArrow{
        bottom: 585px;
        right: 0px;
        width: 33%;
    }
    .floatPistol{
    width:210%;
    left:110px;
    top:-200px;
    }
}
@media (max-width: 850px) and (min-width: 815px){
    #poster{
        font-size:85%;
    }
    .topArrow{
        top: 6%;
        left: 0px;
        width: 33%;
    }
    .bottomArrow{
        top: 1370px;
        right: 0px;
        width: 33%;
    }
    .floatPistol{
    width:210%;
    left:80px;
    top:-200px;
    }
}
@media (max-width: 815px) and (min-width: 650px){
    #poster{
        font-size:85%;
    }
    .topArrow{
        top: 6%;
        left: 0px;
        width: 33%;
    }
    .bottomArrow{
        top: 1380px;
        right: 0px;
        width: 33%;
    }
    .floatPistol{
    width:210%;
    left:40px;
    top:-200px;
    }
}
@media(max-width:650px) and (min-width: 400px){
    .floatDate, .floatPlace{
        text-shadow:1px 1px 1px #333;
    }
    .floatPistol{
    width:210%;
    left:25px;
    top:-200px;
    }
    .topArrow{
        top: 9%;
        left: 0px;
        width: 33%;
    }
    .bottomArrow{
        top: 1630px;
        right: 0px;
        width: 33%;
    }
    #footFront img {
        width: 85%;
        top: 5px;
        left: inherit;
        position: relative;
        height: auto;
    }
    #footFront div:nth-child(2) img{
        left: -8px;
        float: right;
        top: 24px;
        width: 85%
    }
    #footFront div:last-child img{
        right:0px;
        float: right;
        top:10px;
        width: 85%;

    }
}
@media (max-width: 440px) and (min-width: 300px){
     .floatDate{
        width:173px;
        float: right;
        text-shadow:1px 1px 1px #333;
        margin-right: -28px;

    }
    .floatPlace{
        line-height: 106%;
        width: 220%;
        margin-left: 6px !important;

    }
    #footFront img {
        width: 100%;
        top: 5px;
        left: inherit;
        position: relative;
        height: auto;
    }
    #footFront div:nth-child(2) img{
        left: -8px;
        float: right;
        top: 24px;
        width: 100%
    }
    #footFront div:last-child img{
        right:0px;
        float: right;
        top:10px;
        width: 100%;

    }
}
@media (max-width: 890px) and (min-width: 768px) {
    footer img{
        margin-top:66px;
    }
}
@media (max-width: 946px) {
    .headerText p {
    margin-left: 33px;
    line-height: 3em;
    font-size: 20px;
    font-weight: 700;

}

}
@media (max-width:768px) {
    .headerText {
    position: absolute;
    width: 55%;
    }
    .just{
        margin-top:5em;
        margin-bottom:5em;
        max-height: 120px;
    }
    .mainJumbo{
        background-position-x: 58%;
    }

    footer #seals {
        margin-bottom: 4%;
    }
}
@media (min-width:768px) {

    .line2 {
    width:80%;
    margin-left:10%;
    }
}
@media screen and (max-width: 69.5em) {
    line.line {
        margin: 3.2rem 0 4rem 0;
    }
    .just{
        margin-top:2.3em;
        max-height: 130px;
    }


}
@media (min-width: 992px) and (max-width: 1200px) {
div#poster div, section{font-size:130%;}
li:after{right:-0.2em !important;    -webkit-filter: grayscale(30%) sepia(35%);}

}

@media (min-width: 915px) and (max-width: 992px) {
div#poster div, section{font-size:123%;}
li:after{right:-1.2em !important;    -webkit-filter: grayscale(30%) sepia(35%);}

}
@media (max-width: 915px) {
div.logoWide{height:3em;}
}
@media (min-width: 700px) and (max-width: 915px) {
div#poster div, section{font-size:105%;}

}
@media (max-width: 768px) {
     div.logoTall{padding-top:6px; height: 2.3em}
}
@media (max-width: 700px) {
/* No after elements after 700px */
 li:after{opacity:0; display:none; }
 div#poster div, section{font-size:105%;}
  .headerText {
    display:none;
    }
}

@media (max-width: 440px) {
div#poster div, section{font-size:100%;}
 li:after{opacity:0;}
 .floatPistol{
    left:-28px;
 }
}
@media (max-width: 600px) {
    /* For poster fixing look */
    h4.littleLeft{

        font-size: 25px;
        font-weight:400;
        margin-top: 20px;

    }
}
@media (max-width: 440px) {
div#poster div, section{font-size:100%;}
div.logoTall{padding-top: 2px;
height: 2.69em;}

}
