<section class="cover">
    <div class="jumbotron text-center ng-scope mainJumbo" ng-style="jumbo" style="color: rgb(252, 249, 249); background-image: url(/img/bckgrnd-3.jpg); background-size: cover; /* background-position-y: 34%; */min-height: 480px; margin-bottom:-21px;">

        <div class="row hidden-xs">
            <div class="col-xs-3 border-right">
                <h2>
                    Equipos
                </h2>
            </div>
            <div class="col-xs-3 border-right">
                <h2>
                    Poliurea
                </h2>
            </div>
            <div class="col-xs-3 border-right">
                <h2>
                    Atenci&oacute;n
                </h2>
            </div>
            <div class="col-xs-3 border-right">
                <h2>
                    Entrenamiento
                </h2>
            </div>

        </div>
        <h2 class="ng-binding hidden-xs" style="margin-top:195px;">
            Proteje tu inversi&oacute;n con recubrimientos profesionales y m&aacute;s de 12 a&ntilde;os de experiencia
        </h2>


    </div>
    <!--
    <div class="headerText">
        
        <p>
           Proveedores y Fabricantes de Poliurea, Espuma de Poliuretano y Distribuidores de los Mejores equipos de Recubrimientos Industriales del Baj&iacute;o
            <br /><button ng-click="coverButton()" class="btn btn-info ng-binding">Conoce M&aacute;s</button>
        </p>
            
        
    </div>
    <figure class="{{cover[coverNumber].ngclass}}">
        <img ng-src="{{cover[coverNumber].src}}" class="{{cover[coverNumber].ngclass}}" />
    </figure>
    -->
</section>