<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="first-slide img-responsive" src="/img/home/home-1.png" alt="Inicio">
        <div class="container">
          <div class="carousel-caption">
          </div>
        </div>
      </div>
      <div class="item">
        <img class="first-slide img-responsive" src="/img/home/home-2.png" alt="Qu&#237micos" onclick="document.location='/quimicos'">
        <div class="container" onclick="document.location='/quimicos'">
          <div class="carousel-caption ">
            <p>Qu&#237micos</p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="first-slide img-responsive" src="/img/home/home-3.png" alt="Equipos" onclick="document.location='/equipos'">
        <div class="container" onclick="document.location='/quimicos'">
          <div class="carousel-caption" onclick="document.location='/equipos'">
            <p>Equipos</p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="first-slide img-responsive" src="/img/home/home-4.png" alt="Aplicaciones" onclick="document.location='/aplicaciones'">
        <div class="container" onclick="document.location='/aplicaciones'">
          <div class="carousel-caption">
            <p>Aplicaciones</p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="first-slide img-responsive" src="/img/home/home-5.png" alt="Eventos" onclick="document.location='/eventos'">
        <div class="container" onclick="document.location='/eventos'">
          <div class="carousel-caption">
            <p>Eventos</p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div><!-- /.carousel -->
</div>
