<div class="second" id="poster" style="background-image: url(/docs/posters/background.jpg); overflow-x:hidden; position:relative;">
<img src="../docs/posters/2.png" style="width:33%; position: absolute; left:0px;" class="topArrow"/>
<img src="../docs/posters/6.png" style="" class="bottomArrow" ng-show="inEvents"/>
<div class="container">
    <section id="logoHead">
        <div class="row">
            <img src="../docs/posters/headLogo.png" style="width:80%; margin:1% 10%;">
        </div>
    </section>
    <section id="frontCover" class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h1 class="highlight0 text-center">
                Centro de Capacitaci&oacute;n y Formaci&oacute;n Profesional en Poliurea
            </h1>
            <div class="col-xs-12 col-xs-offset-0">
                
                <img src="../docs/posters/logo.png" style="width:100%;" />
                <div class="col-xs-12 text-justify">
                    <h4 class="col-xs-9 text-center littleLeft" style="">
                        Preparaci&oacute;n de la superficie y Aplicaci&oacute;n de Poliurea sobre Acero y Concreto
                    </h4>
                </div>
                <div class="col-xs-4">
                    <h4 class="text-right floatDate" style="letter-spacing: 4px; border-right: 4px solid rgba(51, 51, 51, 0.61); line-height: 150%; padding-right: 10px; font-weight: 600; color:rgb(233, 240, 250)">
                        18 a 22<br>
                        de Abril<br> 
                        2016 
                    </h4>
                </div>
                <div class="col-xs-5">
                    <h4 class="text-left floatPlace" style="font-weight: 600; letter-spacing:4px; margin-left:-20px; line-height:86%; color:rgb(233, 240, 250)">
                    <br>
                        Fiesta Inn<br>
                        <span style="font-size:14px; position:absolute;">Insurgentes</span><br>
                        M&eacute;xico, D.F.
                    </h4>
                </div>
                <div class="col-xs-3">
                    <img src="../docs/posters/1.png" style="" class="floatPistol" />
                </div>
            </div>
        </div>
    </section>
    <section id="footFront" class="row none">
        <div class="col-xs-4">
            <img src="../docs/posters/sspc_logo.png" style="" class="floatPistol" />
        </div>
        <div class="col-xs-4">
            <img src="../docs/posters/nace_logo.png" style="" class="floatPistol" />
        </div>
        <div class="col-xs-4">
            <img src="../docs/posters/pda_logo.png" style="" class="floatPistol" />
        </div>
    </section>
    </div>
        <div class="row" style="border-bottom: solid 4px rgba(51, 51, 51, 0.23); border-top: solid 3px rgb(200, 200, 204); z-index:10; position:relative;">
            <img src="../docs/posters/fotoBooth.png" style="width:100%;" class="" /> 
        </div>
        <div class="row" style="z-index:1">
            <img src="../docs/posters/fondo_poster.png" style="width:100%; position:absolute; bottom:4px; " class="" />
        </div>
    <div class="container" ng-show="inEvents">
    <section id="program" class="row">
        
        <div class="row">
            <div class="col-xs-6 col-xs-offset-0">
                <h2 class="highlight1 text-center" style="margin-bottom: 5px; font-variant:small-caps">
                    18 de Abril
                </h2>
                <ul>
                    <li>
                    18:30h : Coctél de bienvenida
                    </li>
                </ul>
            </div>
            <div class="col-xs-6">
                <h1 class="highlight0 text-center" style="letter-spacing:8px; font-variant:small-caps; font-weight:600">
                Programa
                </h1>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-xs-6 col-xs-offset-0">
                <h2 class="highlight1 text-center" style="margin-bottom: 5px;font-variant:small-caps">
                    19 de Abril
                </h2>
                <ul>
                    <li>
                    8:00 - 9:00 Registro de participantes.
                    </li>
                </ul>
                <ol>
                    <li>Introducción</li>
                    <li class="montiSpeak gracoSpeak">Química de Poliurea</li>
                    <li>Propiedades Mecánicas (Revisióon TDS)</li>
                    <li class="bullardSpeak">Manejo de los componentes</li>
                    <li>
                    Revisión Estándar SSPC PA-14
                    </li>
                </ol>
            </div>
            <div class="col-xs-6 col-xs-offset-0">
                <h2 class="highlight1 text-center" style="margin-bottom: 5px; font-variant:small-caps">
                    20 de Abril
                </h2>
                <ol>
                    <li>Condiciones ambientales</li>
                    <li class="montiSpeak gracoSpeak"><em>Acero</em>Mediciones y Preparaci&oacute;n </li>
                    <li>Perfil de superficie</li>
                    <li class="chrolSpeak"><em>Medici&oacute;n Sales Solubles:</em> Abrasivo y Superficie</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-0">
                <h2 class="highlight1 text-center" style="margin-bottom: 5px; font-variant:small-caps">
                    21 de Abril
                </h2>
                <ol>
                    <li class="blastracSpeak"><em>Concreto:</em>Preparaci&oacute;n</li>
                    <li>Humedad y M&eacute;todos de Medici&oacute;n</li>
                    <li>Sellado e Imprimaci&oacute;n de la superficie</li>
                    <li class="gracoSpeak">Maquinaria</li>
                    <li>Aspectos esenciales de mantenimiento</li>
                    <li>Fusion AP, MP y CS</li>
                </ol>
            </div>
            <div class="col-xs-6 col-xs-offset-0">
                <h2 class="highlight1 text-center" style="margin-bottom: 5px; font-variant:small-caps">
                    22 de Abril
                </h2>
                <ol>
                    <li>Aplicaci&oacute;n</li>
                    <li class="elcoSpeak">Medici&oacute;n y Control de Espesores</li>
                    <li><em>Calidad:</em>Adhesi&oacute;n, Dureza y Discontinuidad</li>
                    <li>Tecnolog&iacute;a Resistente al UV</li>
                    <li>Mercado de la Poliurea</li>
                </ol>
            </div>
        </div>
        <div class="col-xs-7 col-sm-9 col-md-8">
            <div class="col-xs-12 col-xs-offset-0 border-b">
                <h2 class="highlight1" style="font-variant:small-caps; margin-bottom: 5px;"> Costo de Inscripci&oacute;n</h2>
                <div class="row smaller">
                    <div class="col-xs-6">
                        <h5> </h5>
                    </div>
                    <div class="col-xs-3 border-r">
                        <h5><em style="width: 250%; text-align:right;float:right; font-style:normal; color:#9C9C9C">Antes 31 de Marzo</em></h5>
                    </div>
                    <div class="col-xs-3">
                        <h5> <em style="width: 250%; text-align:left;float:left; font-style:normal; color:#9C9C9C">Después 31 Marzo</em></h5>
                    </div>
                </div>
                <div class="row smaller">
                    <div class="col-xs-6">
                        <h5>Clientes</h5>
                    </div>
                    <div class="col-xs-3 border-r">
                        <h5><em style="width:130%; text-align:right;float:right; font-style:normal">$400 Usd</em></h5>
                    </div>
                    <div class="col-xs-3">
                        <h5> <em style="width:130%; text-align:left;float:left; font-style:normal">$500 Usd</em></h5>
                    </div>
                </div>
                <div class="row smaller">
                    <div class="col-xs-6">
                        <h5>Público General</h5>
                    </div>
                    <div class="col-xs-3 border-r">
                        <h5><em style="width:130%; text-align:right;float:right; font-style:normal">$500 Usd</em></h5>
                    </div>
                    <div class="col-xs-3">
                        <h5> <em style="width:130%; text-align:left;float:left; font-style:normal">$600 Usd</em></h5>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <ul style="list-style:inherit">
                    <li style="list-style:inherit">
                        Incluye comida de medio día, acceso a internet para los hospedados en áreas comunes, habitaciónes y salones por sesionar.
                    </li>
                    <li style="list-style:inherit">
                        Participantes no hospedados en el hotel, estacionamiento con costo preferencial de $90.00 pesos por día sujeto a disponibilidad de espacios
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-xs-offset-0 smaller2">
                <h2 class="highlight1" style="font-variant:small-caps; letter-spacing:5px; margin-bottom:10px;"> Informes</h2>
                <h5>Tel <em style="text-align:right; float:right; font-style:normal">+52(442)1833586</em></h5>
                <h5>M&oacute;vil <em style="text-align:right; float:right; font-style:normal">+52(442)4465674</em></h5>
                <h5>Correo <a href="mailto:administracion@mexipol.com.mx" style="text-align:right; float:right; font-style:normal">administracion@mexipol.com.mx</a></h5>
            </div>
            <div class="col-xs-12 col-xs-offset-0 slim">
                
                <h5 class="text-center anchorText"><a href="http://www.fiestainn.com/es/home">Hotel Fiesta Inn Insurgentes Viaducto</a></h5>
                <h5 class="text-center">Reservaciones de habitación</h5>
                <h5 class="text-center">(55) 5276 7400</h5>
                <ul style="list-style:inherit">
                    <li style="list-style:inherit">
                        Disponibilidad de habitaciónes sujeta a confirmación del hotel, para reservar con tarifa preferencial ($1'300 pesos + impuestos) referirse a este evento al realizar su reservación.
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-4 col-sm-3 col-sm-offset-0 col-md-3 col-md-offset-1 col-xs-offset-1">
            <div class="col-xs-12 logoWide2">
                <img src="../docs/posters/graco_logo.png" />
            </div>
            <div class="col-xs-12 logoWide2">
                <img src="../docs/posters/blastrac_logo.png" />
            </div>
            <div class="col-xs-12 logoWide2">
                <img src="../docs/posters/defelsko_logo.png" />
            </div>
            <div class="col-xs-12 logoWide2">
                <img src="../docs/posters/monti_Logo.png" />
            </div>
            <div class="col-xs-12 logoWide2">
                <img src="../docs/posters/elcometer_logo.png" />
            </div>
            <div class="col-xs-12 logoWide2">
                <img src="../docs/posters/bullard_logo.png" />
            </div>
            <div class="col-xs-12 logoWide2">
                <img src="../docs/posters/chlor_logo.png" />
            </div>
        </div>
    </section>
</div>
</div>